<?xml version="1.0"?>
<config>
    <modules>
        <Jirafe_Analytics>
            <version>0.0.1</version>
        </Jirafe_Analytics>
    </modules>
    <global>
        <models>
            <jirafe_analytics>
                <class>Jirafe_Analytics_Model</class>
                <resourceModel>jirafe_analytics_resource</resourceModel>
            </jirafe_analytics>
            <jirafe_analytics_resource>
                <class>Jirafe_Analytics_Model_Resource</class>
                <entities>
                    <cart>
                        <table>jirafe_analytics_cart</table>
                    </cart>
                    <cart_item>
                        <table>jirafe_analytics_cart_item</table>
                    </cart_item>
                    <category>
                        <table>jirafe_analytics_category</table>
                    </category>
                    <customer>
                        <table>jirafe_analytics_customer</table>
                    </customer>
                    <order>
                        <table>jirafe_analytics_order</table>
                    </order>
                    <order_item>
                        <table>jirafe_analytics_order_item</table>
                    </order_item>
                    <product>
                        <table>jirafe_analytics_product</table>
                    </product>
                    <session>
                        <table>jirafe_analytics_session</table>
                    </session>
                    <status>
                        <table>jirafe_analytics_status</table>
                    </status>
                    <user>
                        <table>jirafe_analytics_user</table>
                    </user>
                </entities>
            </jirafe_analytics_resource>
        </models>
        <resources>
            <jirafe_analytics_setup>
                <setup>
                    <module>Jirafe_Analytics</module>
                    <class>Jirafe_Analytics_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jirafe_analytics_setup>
            <jirafe_analytics_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jirafe_analytics_write>
            <jirafe_analytics_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jirafe_analytics_read>
        </resources>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <jirafe_analytics_action_cart_product_add_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartProductAdd</method>
                    </jirafe_analytics_action_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_item_complete>
                <observers>
                    <jirafe_analytics_action_cart_update_item_complete>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartUpdateItemComplete</method>
                    </jirafe_analytics_action_cart_update_item_complete>
                </observers>
            </checkout_cart_update_item_complete>
             <checkout_cart_save_after>
                <observers>
                    <jirafe_analytics_action_cart_save_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartSaveAfter</method>
                    </jirafe_analytics_action_cart_save_after>
                </observers>
            </checkout_cart_save_after>
             <customer_register_success>
                <observers>
                    <jirafe_analytics_customer_register_success>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerRegister</method>
                    </jirafe_analytics_customer_register_success>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <jirafe_analytics_action_order_place_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>orderPlaceAfter</method>
                    </jirafe_analytics_action_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <catalog_category_save_after>
                <observers>
                    <jirafe_analytics_action_catalog_category_save_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categorySave</method>
                    </jirafe_analytics_action_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_change_products>
                <observers>
                    <jirafe_analytics_action_category_change_products>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categoryChangeProducts</method>
                    </jirafe_analytics_action_category_change_products>
                </observers>
            </catalog_category_change_products>
            <catalog_controller_category_delete>
                <observers>
                    <jirafe_analytics_action_category_delete>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categoryDelete</method>
                    </jirafe_analytics_action_category_delete>
                </observers>
            </catalog_controller_category_delete>
            <catalog_product_save_after>
                <observers>
                    <jirafe_analytics_action_product_save>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productSave</method>
                    </jirafe_analytics_action_product_save>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                    <jirafe_analytics_action_product_status_update>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productStatusUpdate</method>
                    </jirafe_analytics_action_product_status_update>
                </observers>
            </catalog_product_status_update>
            <catalog_product_delete_before>
                <observers>
                    <jirafe_analytics_action_catalog_product_delete_before>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productDelete</method>
                    </jirafe_analytics_action_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>
            <order_cancel_after>
                <observers>
                    <jirafe_analytics_action_order_cancel>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>orderCancel</method>
                    </jirafe_analytics_action_order_cancel>
                </observers>
            </order_cancel_after>
            <customer_delete_after>
                <observers>
                    <jirafe_analytics_customer_delete_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerDelete</method>
                    </jirafe_analytics_customer_delete_after>
                </observers>
            </customer_delete_after>
            <customer_save_after>
                <observers>
                    <jirafe_analytics_customer_save_after>>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerSave></method>
                    </jirafe_analytics_customer_save_after>
                </observers>
            </customer_save_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <jirafe>
                                            <title>Jirafe Analytics Section</title>
                                        </jirafe>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Jirafe_Analytics />
            </modules>
        </suite>
    </phpunit>
</config>