<?xml version="1.0"?>
<config>
    <modules>
        <Jirafe_Analytics>
            <version>1.0.1</version>
        </Jirafe_Analytics>
    </modules>
    <global>
        <blocks>
            <jirafe_analytics>
                <class>Jirafe_Analytics_Block</class>
            </jirafe_analytics>
        </blocks>
        <models>
            <jirafe_analytics>
                <class>Jirafe_Analytics_Model</class>
                <resourceModel>jirafe_analytics_resource</resourceModel>
            </jirafe_analytics>
            <jirafe_analytics_resource>
                <class>Jirafe_Analytics_Model_Resource</class>
                <entities>
                    <batch>
                        <table>jirafe_analytics_batch</table>
                    </batch>
                    <batch_attempt>
                        <table>jirafe_analytics_batch_attempt</table>
                    </batch_attempt>
                    <batch_data>
                        <table>jirafe_analytics_batch_data</table>
                    </batch_data>
                    <batch_error>
                        <table>jirafe_analytics_batch_error</table>
                    </batch_error>
                    <data>
                        <table>jirafe_analytics_data</table>
                    </data>
                    <data_type>
                        <table>jirafe_analytics_data_type</table>
                    </data_type>
                    <log>
                        <table>jirafe_analytics_log</table>
                    </log>
                    <map>
                        <table>jirafe_analytics_map</table>
                    </map>
                </entities>
            </jirafe_analytics_resource>
            <admin>
                <rewrite>
                    <user>Jirafe_Analytics_Model_Admin_User</user>
                </rewrite>
            </admin>
        </models>
        <helpers>
            <jirafe_analytics>
                <class>Jirafe_Analytics_Helper</class>
            </jirafe_analytics>
        </helpers>
        <resources>
            <jirafe_analytics_setup>
                <setup>
                    <module>Jirafe_Analytics</module>
                    <class>Jirafe_Analytics_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jirafe_analytics_setup>
            <jirafe_analytics_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jirafe_analytics_write>
            <jirafe_analytics_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jirafe_analytics_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <jirafe_analytics>
                    <file>jirafe_analytics.xml</file>
                </jirafe_analytics>
            </updates>
        </layout>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <jirafe_analytics_checkout_cart_save_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartSave</method>
                    </jirafe_analytics_checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>
             <sales_quote_item_save_after>
                <observers>
                    <jirafe_analytics_sales_quote_item_save_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartUpdateItem</method>
                    </jirafe_analytics_sales_quote_item_save_after>
                </observers>
            </sales_quote_item_save_after>
            <sales_quote_remove_item>
                <observers>
                    <jirafe_analytics_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartRemoveItem</method>
                    </jirafe_analytics_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
            <customer_register_success>
                <observers>
                    <jirafe_analytics_customer_register_success>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerRegister</method>
                    </jirafe_analytics_customer_register_success>
                </observers>
            </customer_register_success>
            <customer_save_after>
                <observers>
                    <jirafe_analytics_customer_save_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerSave</method>
                    </jirafe_analytics_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_load_after>
                <observers>
                    <jirafe_analytics_customer_load_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerLoad</method>
                    </jirafe_analytics_customer_load_after>
                </observers>
            </customer_load_after>
            <sales_order_place_after>
                <observers>
                    <jirafe_analytics_sales_order_place_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>orderAccepted</method>
                    </jirafe_analytics_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
        <routers>
            <jirafe_analytics>
                <use>standard</use>
                <args>
                    <module>Jirafe_Analytics</module>
                    <frontName>jirafe_analytics</frontName>
                </args>
            </jirafe_analytics>
        </routers>
    </frontend>
    <admin>
        <routers>
            <jirafe_analytics>
                <use>admin</use>
                <args>
                    <module>Jirafe_Analytics</module>
                    <frontName>jirafe_analytics</frontName>
                </args>
            </jirafe_analytics>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_category_save_after>
                <observers>
                    <jirafe_analytics_action_catalog_category_save_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categorySave</method>
                    </jirafe_analytics_action_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_change_products>
                <observers>
                    <jirafe_analytics_action_category_change_products>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categoryChangeProducts</method>
                    </jirafe_analytics_action_category_change_products>
                </observers>
            </catalog_category_change_products>
            <catalog_controller_category_delete>
                <observers>
                    <jirafe_analytics_action_category_delete>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categoryDelete</method>
                    </jirafe_analytics_action_category_delete>
                </observers>
            </catalog_controller_category_delete>
            <catalog_product_save_after>
                <observers>
                    <jirafe_analytics_action_product_save>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productSave</method>
                    </jirafe_analytics_action_product_save>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                    <jirafe_analytics_action_product_status_update>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productStatusUpdate</method>
                    </jirafe_analytics_action_product_status_update>
                </observers>
            </catalog_product_status_update>
            <catalog_product_delete_before>
                <observers>
                    <jirafe_analytics_action_catalog_product_delete_before>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productDelete</method>
                    </jirafe_analytics_action_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>
            <order_cancel_after>
                <observers>
                    <jirafe_analytics_action_order_cancel>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>orderCancelled</method>
                    </jirafe_analytics_action_order_cancel>
                </observers>
            </order_cancel_after>
            <customer_load_after>
                <observers>
                    <jirafe_analytics_customer_load_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerLoad</method>
                    </jirafe_analytics_customer_load_after>
                </observers>
            </customer_load_after>
            <adminhtml_customer_save_after>
                <observers>
                    <jirafe_analytics_customer_save_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>adminCustomerSave</method>
                    </jirafe_analytics_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
            <admin_user_save_after>
                <observers>
                    <jirafe_analytics_admin_user_save_after>
                        <type>singleton</type>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>employeeSave</method>
                    </jirafe_analytics_admin_user_save_after>
                </observers>
            </admin_user_save_after>
        </events>
    </adminhtml>
     <crontab>
        <jobs>
            <jirafe_analytics_process_batch>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>jirafe_analytics/batch::process</model>
                </run>
            </jirafe_analytics_process_batch>
            <jirafe_analytics_heartbeat>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>jirafe_analytics/curl::heartbeat</model>
                </run>
            </jirafe_analytics_heartbeat>
        </jobs>
    </crontab>
    <default>
        <jirafe_analytics>
            <general>
                <enabled>1</enabled>
                <org_id>6</org_id>
                <site_id>9</site_id>
                <beacon_api>sandbox-beacon.jirafe.net/jirafe_api.js</beacon_api>
                <event_api_url>sandbox-event-api.jirafe.net/v2/</event_api_url>
                <access_token>582fc79df0434793ecf74c78cdcedd7ca9f0a119</access_token>
                <heartbeat_id>1000</heartbeat_id>
                <purge_time>10080</purge_time>
            </general>
            <debug>
                <logging>0</logging>
                <server_load>0</server_load>
                <type>database</type>
                <purge_time>10080</purge_time>
            </debug>
            <curl>
                <threading>multi</threading>
                <threads>5</threads>
                <max_size>10485760</max_size>
                <max_attempts>5</max_attempts>
                <max_records></max_records>
            </curl>
            <php>
                <max_execution_time></max_execution_time>
                <memory_limit></memory_limit>
                <proc_nice></proc_nice>
            </php>
            <installer>
                <admin_role>Jirafe</admin_role>
                <api2_role>Jirafe</api2_role>
                <oauth_customer>Jirafe</oauth_customer>
                <admin_username>jirafe</admin_username>
                <admin_firstname>Jirafe</admin_firstname>
                <admin_lastname>Jirafe</admin_lastname>
                <admin_email>jirafe@jirafe.com</admin_email>
                <admin_is_active>1</admin_is_active>
            </installer>
        </jirafe_analytics>
    </default>
</config>