<?xml version="1.0"?>
<config>
    <modules>
        <Jirafe_Analytics>
            <version>0.0.2</version>
        </Jirafe_Analytics>
    </modules>
    <global>
        <models>
            <jirafe_analytics>
                <class>Jirafe_Analytics_Model</class>
                <resourceModel>jirafe_analytics_resource</resourceModel>
            </jirafe_analytics>
            <jirafe_analytics_resource>
                <class>Jirafe_Analytics_Model_Resource</class>
                <entities>
                    <queue>
                        <table>jirafe_analytics_queue</table>
                    </queue>
                    <queue_attempt>
                        <table>jirafe_analytics_queue_attempt</table>
                    </queue_attempt>
                    <queue_error>
                        <table>jirafe_analytics_queue_error</table>
                    </queue_error>
                    <queue_type>
                        <table>jirafe_analytics_queue_type</table>
                    </queue_type>
                </entities>
            </jirafe_analytics_resource>
            <admin>
                <rewrite>
                    <user>Jirafe_Analytics_Model_Admin_User</user>
                </rewrite>
            </admin>
        </models>
        <helpers>
            <jirafe_analytics>
                <class>Jirafe_Analytics_Helper</class>
            </jirafe_analytics>
        </helpers>
        <resources>
            <jirafe_analytics_setup>
                <setup>
                    <module>Jirafe_Analytics</module>
                    <class>Jirafe_Analytics_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jirafe_analytics_setup>
            <jirafe_analytics_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jirafe_analytics_write>
            <jirafe_analytics_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jirafe_analytics_read>
        </resources>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <jirafe_analytics_action_cart_product_add_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartProductAdd</method>
                    </jirafe_analytics_action_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_item_complete>
                <observers>
                    <jirafe_analytics_action_cart_update_item_complete>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartUpdateItemComplete</method>
                    </jirafe_analytics_action_cart_update_item_complete>
                </observers>
            </checkout_cart_update_item_complete>
             <checkout_cart_save_after>
                <observers>
                    <jirafe_analytics_action_cart_save_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>cartSaveAfter</method>
                    </jirafe_analytics_action_cart_save_after>
                </observers>
            </checkout_cart_save_after>
             <customer_register_success>
                <observers>
                    <jirafe_analytics_customer_register_success>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerRegister</method>
                    </jirafe_analytics_customer_register_success>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <jirafe_analytics_action_order_place_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>orderPlaceAfter</method>
                    </jirafe_analytics_action_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <catalog_category_save_after>
                <observers>
                    <jirafe_analytics_action_catalog_category_save_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categorySave</method>
                    </jirafe_analytics_action_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_change_products>
                <observers>
                    <jirafe_analytics_action_category_change_products>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categoryChangeProducts</method>
                    </jirafe_analytics_action_category_change_products>
                </observers>
            </catalog_category_change_products>
            <catalog_controller_category_delete>
                <observers>
                    <jirafe_analytics_action_category_delete>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>categoryDelete</method>
                    </jirafe_analytics_action_category_delete>
                </observers>
            </catalog_controller_category_delete>
            <catalog_product_save_after>
                <observers>
                    <jirafe_analytics_action_product_save>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productSave</method>
                    </jirafe_analytics_action_product_save>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                    <jirafe_analytics_action_product_status_update>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productStatusUpdate</method>
                    </jirafe_analytics_action_product_status_update>
                </observers>
            </catalog_product_status_update>
            <catalog_product_delete_before>
                <observers>
                    <jirafe_analytics_action_catalog_product_delete_before>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>productDelete</method>
                    </jirafe_analytics_action_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>
            <order_cancel_after>
                <observers>
                    <jirafe_analytics_action_order_cancel>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>orderCancel</method>
                    </jirafe_analytics_action_order_cancel>
                </observers>
            </order_cancel_after>
            <customer_delete_after>
                <observers>
                    <jirafe_analytics_customer_delete_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerDelete</method>
                    </jirafe_analytics_customer_delete_after>
                </observers>
            </customer_delete_after>
            <customer_save_after>
                <observers>
                    <jirafe_analytics_customer_save_after>>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>customerSave></method>
                    </jirafe_analytics_customer_save_after>
                </observers>
            </customer_save_after>
            <admin_user_save_after>
                <observers>
                    <jirafe_analytics_admin_user_save_after>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>adminUserSave</method>
                    </jirafe_analytics_admin_user_save_after>
                </observers>
            </admin_user_save_after>
            <admin_user_delete>
                <observers>
                    <jirafe_analytics_admin_user_delete>
                        <class>Jirafe_Analytics_Model_Observer</class>
                        <method>adminUserDelete</method>
                    </jirafe_analytics_admin_user_delete>
                </observers>
            </admin_user_delete>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <jirafe>
                                            <title>Jirafe Analytics Section</title>
                                        </jirafe>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
     <crontab>
        <jobs>
            <jirafe_analytics_process_queue>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>jirafe_analytics/queue::process</model>
                </run>
            </jirafe_analytics_process_queue>
        </jobs>
    </crontab>
</config>